.item-body{
    width: 100%;
    height: auto;
}
.item-list{
    width: 50%;
    margin: 100px auto;

}
.item1{
    display: inline-block;
    margin: 0 auto;
    width: 50%;
    box-sizing: border-box;
    text-align: center;
    float: left;
}
#item-pic img{
    width: 90%;
    height: 90%;
    padding-left:10px ;
}
#item-ex ul li ,#item-ex p {
    display: block;
    text-align: left;
}
#item-ex #price {
    text-align: right;
    border-top:#cac9c9 1px solid ;
    padding-top: 40px;
    margin-bottom: 50px;
}
.both{
    clear: both;
}
#item-ex p{
    padding-top: 15px;
    height: 40px;
    font-size: 20px;
    font-weight: bold;
}
#item-ex{
    border: #cac9c9 1px solid;
    border-radius: 7px;
}
#item-ex p:nth-child(2){
    border-bottom:  #cac9c9 1px solid ;
}
#item-ex ul li{
    font-size: 15px;
    height: 50px;
}
#item-ex li em  {
    padding-left: 200px;
}
.item_option{
    margin-left: 200px;
}
#buy ,#sh_basket{
    display: inline-block;
    text-align: center;
    width: 40%;
    border: 2px #f8cbcb solid;
    border-radius: 10px;
}
#buy a , #sh_basket a{
    width: 100%;
    color: black;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}
#buy img ,#sh_basket img{
    width: 50px;
    height: 50px;    
    display: inline-block;
    padding-right: 10px;
}
.item_rmc{
    margin-top: 100px;
    text-align: center;
}
.item_rmcontrol {
    width:45%;
    font-size: 20px;
    font-weight: bold;
    display: inline-block;
    height: 50px;
    margin: 0 auto;
    border: 1px black solid;
    border-radius: 10px;
    
    
}
.item_rmcontrol a{
    display: block;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    padding-top: 17px;
}
.ex a{
    color: red;
}
#ex span , #up_info span{
        display: inline-block;
        height: 25px;
        position: relative;
        border-bottom: 3px black solid;
    
}
.item_rmcontrol a:hover{
    background-color: #fce4e4;
    border-radius: 10px;
}
.main_list img{
    width: 100%;
    height: auto;
}
.min_list{
    width: 50%;
    margin: 0 auto;
}
.allinfo{
    width: 100%;
    height: auto;
}
.top_info, .content_info{
    width: 50%;
    margin: 0 auto;
}
.top_info p{
    padding: 15px 0px 15px 20px;
    font-size: 16px;
    line-height: 1.3;
    font-weight: 600;
    color: #303030;
}
.top_info{
    border-top: 1px solid #b4b4b4;
    border-bottom: 1px solid #b4b4b4;
    box-sizing: border-box;
    background-color: #fff;
    
}
.top_info p img {
    transform: rotate(0deg);
    width: 20px;
    height: 20px;
    display: inline-block;
    line-height: 1;
    font-size: 1.2em;
    float: right;
    margin-right: 15px;
    cursor: pointer;
}
.top_info1, .content_info{
    width: 50%;
    margin: 0 auto;
}
.top_info1 p{
    padding: 15px 0px 15px 20px;
    font-size: 16px;
    line-height: 1.3;
    font-weight: 600;
    color: #303030;
}
.top_info1{
    border-top: 1px solid #b4b4b4;
    border-bottom: 1px solid #b4b4b4;
    box-sizing: border-box;
    background-color: #fff;
    
}
.top_info1 p img {
    transform: rotate(90deg);
    width: 20px;
    height: 20px;
    display: inline-block;
    line-height: 1;
    font-size: 1.2em;
    float: right;
    margin-right: 15px;
    cursor: pointer;
}

#info3 {
    border-bottom: 1px solid #b4b4b4;
    padding-bottom: 50px;
}
.displaynone1{
    display: none;
}
.displaynone2{
    display: none;
}
.displaynone3{
    display: none;
}
.fit_product_basic__size_table {
    width: 100%;
    text-align: center;
    font-size: 13px;
    color: #333;
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
    margin-top: 3%;
}
.fit_product_basic__size_table_content_row, .fit_product_basic__size_table_title_row {
    height: 37px;
}
.fit_product_basic__size_table_title_row {
    background-color: #f7f7f7;
    font-weight: bold;
}
.fit_product_basic__size_table--multi-size .fit_product_basic__size_table_content_col:first-child {
    font-weight: bold;
}
.fit_product_basic__size_table_content_col {
    word-break: break-all;
}
.fit_product_basic__size_table:first-child {
    margin-top: 0;
}

.fit_product_basic__size_unit {
    text-align: right;
    margin: 10px 0;
    color: #888;
}
.fit_product_basic__size_description, .fit_product_basic__etc_description {
    color: #555;
    line-height: 20px;
}
.fit_product_basic__sample, .fit_product_basic__size, .fit_product_basic__info, .fit_product_basic__property {
    margin-top: 25px;
    margin-bottom: 100px;
}
.fit_product_basic__sample_title, .fit_product_basic__size_title, .fit_product_basic__info_title, .fit_product_basic__property_title {
    text-align: center;
    font-size: 20px;
    color: #3e3e3e;
    font-weight: 800;
    padding: 15px 0;
}
.fit_product_basic__info_content {
    background-color: #f7f7f7;
    padding: 11px 20px;
}
.fit_product_basic__info_item {
    line-height: 30px;
    font-size: 13px;
}
.fit_product_basic__property_table {
    width: 100%;
    text-align: center;
    font-size: 13px;
    color: #333;
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
}
.fit_product_basic__property_table_content_col--4cols {
    width: 20%;
}
.fit_product_basic__property_table_content_col {
    line-height: 37px;
    font-size: 13px;
    text-align: center;
}
.fit_product_basic__property_key_container {
    font-weight: bold;
    background-color: #f7f7f7;
}
.fit_product_basic__property_value--selected {
    border-radius: 11px;
    background-color: #444;
    padding: 5px 8px;
    color: white;
}
.fit_product_basic__property_value {
    display: inline-block;
    line-height: 1;
}
.re_view{
    height: 500px;
}
.input_review{
    width: 50%;
    margin: 0 auto;
    font-size: 1;
    height: auto;
    margin-bottom: 8px;
    padding: 20px 13px;
    border: 1px solid #bebebe;
    position: relative;
    box-sizing: border-box;
    
}
#re_view_ok{
    min-height: 100px;
    height: auto;
    font-size: 14px;
    line-height: 16px;
    margin: 0px;
    border: 0;
    width: 100%;
    outline: transparent;
    resize: none;
    overflow: hidden;
}
.re_view_btn{
    width: 50%;
    margin: 0 auto;
    margin-bottom: 8px;
    padding: 0 13px;
}
.re_view_btn input{
    float: right;
    width: 228px;
    height: 35px;
    background: #3f3f3f;
    color: white;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}
.box_item{
    height: 35px;
    width: 50%;
    display: inline-block;
    color: rgb(211, 211, 12);
    padding-left: 40px;
    font-size: 20px;
    
}
#pic_view{
    display: inline-block;
    width: 200px;
    border: 1px solid rgb(158, 156, 156);
    margin-right: 30px;
    
    float: left;
}
#pic_view img{
    height: 33px;
    width: 35px;

    
}
#pic_view em {

    background-color: cadetblue;
}

