.box {
    width: 1000px;
    height: 550px;
    background-color: #C6E8FF;
    margin-left: 17%;
    margin-top: 70px;
}

.box_1 {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}

.box_2 {
    float: right;
    margin-right: 48%;
    margin-top: 13%;
}

.cancel_cnt {
    width: 33.3%;
    float: left;
    display: inline-block;
}

.order_lookup {
    width: 25%;
    height: 100%;
    float: left;
    display: inline-block;
    border: 1px solid #C6E8FF;
}

.lookup {
    margin-left: 10px;
    margin-right: 10px;
    height: 130px;
    background-color: white;
}

.img_frame {
    width: 75px;
    height: 75px;
    display: inline-block;
    margin-top: 8%;
    margin-left: 10%;
}

.img {
    width: 100%;
    height: 100%;
}

.font_small {
    font-size: x-small;
}

.font_large {
    font-size: large;
}

.margin_auto {
    margin: 0 auto;
}
.small_box {
    width: 80%;
    height: 80%;
    margin-top: 12%;
}
.cancel_txt {
    color: darkred;
}
.order_txt {
    color: darkblue;
}
h4 {
    margin-left: 10px;
}