main{
    height: 700px;
}
#Shortcuts{text-align: center;}
.Shortcuts_btn{
    border: 1px solid #999;
    margin-top: 100px;
    margin-left: 50px;
    box-sizing: border-box;
    padding-top: 10px;
}
.Shortcuts_btn a{
    display: block;
    padding: 20px 10px;
    box-sizing: border-box;

}
.on{
    background-color: #999;
    color: #fff;
}