.box {
    width: 1509px;
    margin: 0 auto;
    margin-top: 100px;
}

.box2 {
    width: 100%;
    margin: 0 auto;
    margin-top: 20px;
    display: grid;
}

.product_small_box {
    margin-bottom: 50px;
    margin-left: 20px;
    width: 350px;
    height: 500px;
    border: 1px solid red;
    float: left;

}
img {
    width: 100%;
    height: 75%;
}
/*상품명 의 길이가 2줄 이상일 때*/
.product_name {
    width: 100%;
    height: 40px;
    margin-top: 30px;
    margin-left: 5px;
    text-align: left;
    color: #4B4B4B;
    /* 상품명이 product_name의 width보다 초과시 텍스트 ... 처리*/
    /**/
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.product_price {
    margin-left: 5px;
    font-weight: bold;
}
.product_cnt {
    font-size: small;
    color: #5D5D5D;
    margin-left: 20px;
}
.margin_side {
    width: 1469px;
}